footer {
    display: grid;
    background-color: #f7f7f8;
    justify-items: center;
    flex-wrap: wrap-reverse;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer-content{
    width: 1400px;
}

#footer-content p{
    color: #777;
}

#footer-content #footer-detail-content-1{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#footer-content #footer-detail-content-1 div a{
    text-decoration: none;
    color: #777;
}

#footer-content #footer-detail-content-1 div a:hover{
    color: #e87722;
    transition: 0.5s;
}

#footer-content #footer-detail-content-2{
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer-content #footer-detail-content-2 img{
    width: 100px;
}

#footer-content #footer-detail-content-3{
    margin-bottom: 20px;
}

#footer-content #footer-detail-content-3 p{
    margin-top: 5px;
    margin-bottom: 5px;
}

#footer-content #footer-detail-content-4 p{
    font-size: 10px;
    margin: 0px;
}

#footer-content #footer-detail-content-5 p{
    margin-top: 10px;
    margin-bottom: 5px;
}